<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">{{title}}</span>
    </div>
    <div class="container-fluid">
        <span class="subtitle"> {{subtitle}}</span>
    </div>

       <mat-icon class="icon-notifications">notifications</mat-icon>
       <span class="elipse"></span>
       <label class="numero">7</label>

       <button type="button" class="btn btn-outline-primary">VIACREDI</button>
       <img src="../../../../assets/images/user-logged.png"  class="icon-user-logged" alt="icon-user-logged">
       <mat-icon class="vector-config">settings</mat-icon>
</nav>
