
<mat-sidenav-container class="layout">
    <mat-sidenav mode="side" class="layout-sidebar" opened>
        <img src="../../../assets/images/icons/ailos-icon.png" alt="icon" class="icon">
        <mat-icon class="icon-menu">menu</mat-icon>
        <mat-icon class="icon-search">search</mat-icon>
        <img src="../../../assets/images/icons/icon-star.png" alt="icon-star" class="icon-star">
        <img src="../../../assets/images/icons/icon-chat.png" alt="icon-chat" class="icon-chat">
        <img src="../../../assets/images/icons/icon-categories.png" alt="icon-categories" class="icon-categories">
        <img src="../../../assets/images/icons/icon-central.png" alt="icon-central" class="icon-central">
    </mat-sidenav>
    <mat-sidenav-content class="layout-content">
        <app-header></app-header>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>



